<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    
    @Styles.Render("~/Content/css")
    
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="top">
        <div class="wbase">
            <div class="corporativo">

                <div class="sep"></div>
                <a class="o" target="_blank" href="https://proep.colombina.com.co/webdynpro/dispatcher/abapconsultores.com/icustomer/Icustomer" menu="18">Per ne</a>
                <div class="sep"></div>
                <a class="o" target="_self" href="contactanos2728.html?id=16" menu="19">Kontakti</a>

            </div>
            <div class="idiomas">
                <a target="_self" class="col" href="index.html">SHQIP</a>
                <a target="_self" class="int" href="intl/index.html">MAKEDONSKI</a>
                <a target="_self" class="int" href="index.html">ENGLISH</a>

            </div>
            <form class="buscar" action="http://www.colombina.com/buscar.php" method="post" enctype="multipart/form-data">
                <input type="text" name="Kerko" value="Kerko" class="input" onblur="if(this.value == ''){this.value = 'Kerko';}" onfocus="if(this.value == 'Kerko'){this.value = '';}" />
                <input type="submit" class="submit" value="" />
            </form>
            <div class="redes">
                <a target="_blank" href="https://www.facebook.com/ColombinaOficial" class="fb">
                    <img src="~/template/images/youtube.png" width="27" heith="27" />
                </a>
                <a target="_blank" href="http://www.youtube.com/user/colombinaoficial" class="tw">
                    <img src="~/template/images/facebook.png" width="27" heith="27" />
                </a>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="logo" onclick="document.location.href = 'index.html';">
            <img src="~/template/images/logo.png" width="140" />
        </div>

        <a class="o s" target="_self" href="index14d1.html?cat=pagina_inicial" menu="77">Ballina</a>
        <div class="sep"></div>
        <div class="o">
            <a class="t" target="_self" href="publicacionesdac1.html?id=32" menu="8">Kompania</a>
            <div class="sub sub0">
                <a class="o" target="_self" href="publicacionesdac1.html?id=32" menu="42">Dauti sot</a>
                <a class="o" target="_self" href="publicacionesef73.html?id=33" menu="43">Vizioni - Misioni</a>
                <a class="o" target="_self" href="publicacionesd5e8.html?id=34" menu="44">Historiku</a>
                <a class="o" target="_self" href="publicaciones40ac.html?id=35" menu="45">Struktura</a>
                <a class="o" target="_self" href="publicacionesf62c.html?id=36" menu="46">Stafi</a>
            </div>
        </div>
        <div class="sep"></div>
        <div class="o">
            <a class="t" target="_self" href="publicacionesdac1.html?id=32" menu="8">Produktet</a>
            <div class="sub sub0">
                <a class="o" target="_self" href="publicacionesdac1.html?id=32" menu="42">Artikujt</a>
                <a class="o" target="_self" href="publicacionesef73.html?id=33" menu="43">Katalogje</a>
            </div>
        </div>
        <div class="sep"></div>
        <div class="o">
            <a class="t" target="_self" href="publicacionesdac1.html?id=32" menu="8">Galeria</a>
            <div class="sub sub0">
                <a class="o" target="_self" href="publicacionesdac1.html?id=32" menu="42">Foto</a>
                <a class="o" target="_self" href="publicacionesef73.html?id=33" menu="43">Video</a>
            </div>
        </div>
        <div class="sep"></div>
        <a class="o" target="_self" href="publicaciones9b09.html?cat=promociones" menu="21">Lajme</a>


        <div class="sep"></div>
        <div class="o">
            <a class="t" target="_self" href="#" menu="23">Pergjegjesia shoqerore</a>
            <div class="sub sub0">
                <a class="o" target="_self" href="publicaciones7df0.html?id=41" menu="51">Fondacioni Dauti</a>
                <a class="o" target="_self" href="publicaciones6396.html?id=42" menu="52">Antaresimet</a>
                <a class="o" target="_self" href="contactanosinv93ff.html?id=792" menu="58">Bashkepunotoret</a>
                <a class="o" target="_self" href="contactanosinv93ff.html?id=792" menu="58">Partneret profesional</a>
                <a class="o" target="_self" href="contactanosinv93ff.html?id=792" menu="58">Partneret e OJQ</a>
            </div>
        </div>

        <div class="sep"></div>
        <div class="o">
            <a class="t" target="_self" href="#" menu="23">Kariera</a>
            <div class="sub sub0">
                <a class="o" target="_self" href="publicaciones7df0.html?id=41" menu="51">Kariera</a>
                <a class="o" target="_self" href="publicaciones6396.html?id=42" menu="52">Procedura punesimi</a>
                <a class="o" target="_self" href="contactanosinv93ff.html?id=792" menu="58">Pune praktike</a>
                <a class="o" target="_self" href="contactanosinv93ff.html?id=792" menu="58">Trajnime</a>
                <a class="o" target="_self" href="contactanosinv93ff.html?id=792" menu="58">Keshilla biznesi</a>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Scripts", required:false)
    <script>$(function () { $("a[rel^='prettyPhoto']").prettyPhoto({ social_tools: '' }); });</script>
</body>
</html>
